.button {
  width: 9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 2rem;
  color: hsl(0deg, 0%, 100%);
}

.button.active {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(353deg, 100%, 62%);
}

.principal-intro {
  width: 23.438rem;
  height: 37rem;
  background-image: url(../../images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 36% 37%;
  border-radius: 0 0 0 6rem;
}
.principal-intro .principal-intro-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 9rem;
  margin-bottom: 6rem;
}
.principal-intro .principal-intro-title {
  width: 18rem;
  height: 4.5rem;
  margin: auto;
  font-family: "Overpass", sans-serif;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.principal-intro .principal-intro-subtitle {
  width: 21rem;
  height: 4.5rem;
  margin: auto;
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
.principal-intro .principal-intro-btns {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.second {
  width: auto;
  height: 50rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid green;
}
.second .second-title {
  width: 18.5rem;
  height: 2rem;
  margin: auto;
  margin-top: 5rem;
  font-family: "Overpass", sans-serif;
  color: hsl(208deg, 49%, 24%);
  font-weight: 600;
  font-size: 1.7rem;
}
.second .second-image {
  width: 23rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0;
}
.second .second-subtitle {
  width: 14rem;
  height: 4rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-family: "Overpass", sans-serif;
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  font-size: 1.7rem;
}
.second .second-text {
  width: 22rem;
  height: 18rem;
  margin: auto;
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
  color: hsl(207deg, 13%, 34%);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-weight: 400;
}

.third {
  width: auto;
  height: 35rem;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.third .third-title {
  width: 15rem;
  height: 4rem;
  margin: auto;
  margin-top: 3rem;
  font-family: "Overpass", sans-serif;
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}
.third .third-text {
  width: 22rem;
  height: 11rem;
  margin: auto;
  margin-top: 2rem;
  font-family: "Overpass", sans-serif;
  color: hsl(207deg, 13%, 34%);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  font-weight: 400;
}
.third .third-image {
  width: 23rem;
  margin: auto;
  margin-top: 3rem;
}

.fourth {
  width: auto;
  height: 41.688rem;
  border-radius: 0 6rem 0 6rem;
  background-color: hsl(237deg, 17%, 21%);
  background-image: url(../../images/bg-pattern-circles.svg), linear-gradient(to bottom, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
}

/*# sourceMappingURL=style.css.map */
