 .principal {
    width: 23.438rem;
    height: 237.010rem;

        .principal-intro {
            width: 100vw;
            height: 37rem;

            background-image: url(../../images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom, $very-light-red, $light-red);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 36% 37%;
            border-radius: 0 0 0 6rem;

            @include desktop {
                height: 33rem;
            }

                .principal-intro-header {
                    width: 23.438rem;
                    height: 5rem;

                    display: flex;
                    align-items: flex-end;
                    justify-content: space-around;
                    gap: 6rem;


                    margin-bottom: 6rem;

                        @include desktop {
                            width: 100%;
                        }

                        .icon {
                            width: 32px;
                            height: 18px;
                            margin: 0;
                            margin-bottom: .5rem;
                            background-image: url(../../images/icon-hamburger.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                }

                .principal-menu.desactive {
                    display: none;
                }

                .principal-menu {
                    // width: 20rem;
                    // height: 31.5rem;
                    width: 20rem;
                    height: 20rem;
                    position: absolute;
                    z-index: 5;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: .5rem;
                    flex-direction: column;
                    top: 7rem;
                    right: 1.6rem;
                    margin: auto;
                    background-color: $white;
                    border-radius: .3rem;
                    box-shadow: 0px 1rem .8rem rgba( 0, 0, 0, 0.2);

                        .principal-menu-options {
                            width: 15rem;
                            height: 2rem;
                            margin-top: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: 1px solid red;

                                .principal-menu-title {
                                    // border: 1px solid green;
                                    font-family: "Overpass", sans-serif;
                                    color: $very-dark-gray-blue;
                                    text-align: center;
                                    font-size: 1.3rem;
                                }
                                .principal-menu-arrow {
                                    width: 1rem;
                                    height: 1.5rem;
                                    margin: 0;
                                    background-image: url(../../images/icon-arrow-dark.svg);
                                    background-size: 60%;
                                    background-position: center;
                                    background-repeat: no-repeat;

                                    // border: 1px solid red;
                                }
                        }

                        .connect-options.desactive {
                            display: none;
                        }

                        .connect-options {
                            width: 17rem;
                            height: 10rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin-top: 1rem;
                            background: hsla(240, 3%, 79%, 0.329);

                                ul {
                                    width: 8rem;
                                    height: 10rem;
                                    padding: 0;
                                    li {
                                        list-style-type: none;
                                        font-family: "Overpass", sans-serif;
                                        color: $very-dark-grayish-blue;
                                        font-weight: 600;
                                        line-height: 2.5rem;
                                        text-align: center;

                                    }
                                }
                        }

                        .line {
                            width: 17rem;
                            margin-top: 1.5rem;
                            background-color: hsl(0, 0%, 92%);
                        }

                        .connect-options-line {
                            height: 1.5rem;
                            width: 17rem;
                            margin-bottom: 1rem;
                            border-bottom: 1px solid hsla(240, 3%, 79%, 0.329);

                        }

                        .connect-options-title {
                            font-family: "Overpass", sans-serif;
                            color: $very-dark-desaturated-blue;
                            font-size: 1.5rem;

                        }

                        button {
                            width: 9rem;
                            height: 3rem;
                            border: none;
                            border-radius: 3rem;
                            font-family: "Ubuntu", sans-serif;
                            font-size: 1.2rem;
                            color: $white;
                            font-weight: 700;
                            background-image: linear-gradient(to right, $very-light-red, $light-red);
                        }
                }

                .principal-intro-title {
                    width: 80vw;
                    height: 4.5rem;
                    position: static;
                    z-index: 1;

                    margin: auto;


                    font-family: 'Overpass', sans-serif;
                    color: $white;
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 1.5rem;

                    @include desktop {
                        width: 80vw;
                        height: 3rem;
                        font-size: 3rem;
                        border: 1px solid green;
                    }

                }

                .principal-intro-subtitle {
                    width: 21rem;
                    height: 4.5rem;
                    margin: auto;


                    font-family: 'Overpass', sans-serif;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $white;
                    text-align: center;

                    @include desktop {
                        width: 40rem;
                    }

                }

                .principal-intro-btns {
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                }
        }

        .second {
            width: auto;
            height: 55rem;
            display: flex;
            flex-direction: column;
            align-items: center;


                .second-title {
                    width: 18.5rem;
                    height: 2rem;
                    margin: auto;
                    margin-top: 5rem;
                    margin-bottom: 1rem;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-blue;
                    font-weight: 600;
                    font-size: 1.7rem;
                }

                .second-image {
                    width: 23rem;
                    height: 23rem;
                    background-image: url(../../images/illustration-editor-mobile.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .second-subtitle {
                    width: 14rem;
                    height: 4rem;
                    margin: auto;
                    margin-top: 1.5rem;
                    margin-bottom: 0;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-blue;
                    text-align: center;
                    font-size: 1.7rem;
                }

                .second-text {
                    width: 22rem;
                    height: 18rem;
                    margin: auto;
                    margin-top: 1rem;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-grayish-blue;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    text-align: center;
                    font-weight: 400;
                }
        }

        .third {
            width: auto;
            height: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;


            .third-title {
                width: 15rem;
                height: 4rem;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 1.5rem;

                font-family: 'Overpass', sans-serif;
                color: $very-dark-blue;
                text-align: center;
                font-size: 1.7rem;
                font-weight: 600;
            }

            .third-text {
                width: 22rem;
                height: 11rem;
                margin: auto;
                margin-top: 0;

                font-family: 'Overpass', sans-serif;
                color: $very-dark-grayish-blue;
                font-size: 1.2rem;
                line-height: 1.8rem;
                text-align: center;
                font-weight: 400;
            }

            .third-image {
                width: 23rem;
                height: 25rem;
                background-image: url(../../images/illustration-phones.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                position: absolute;
                top: 115rem;
                z-index: 5;
            }
        }

        .fourth {
            width: 100vw;
            height: 40rem;
            border-radius: 0 6rem 0 6rem;
            background-color: $very-dark-gray-blue;
            background-image: url(../../images/bg-pattern-circles.svg), linear-gradient(to bottom, $very-dark-gray-blue, $very-dark-desaturated-blue);
            background-repeat: no-repeat;
            background-size: 160%;
            background-position: center -600%;
            z-index: 1;

                .fourth-title {
                    width: 18rem;
                    height: 5rem;
                    font-family: 'Overpass', sans-serif;
                    font-size: 2.5rem;
                    text-align: center;
                    color: $white;
                    margin: auto;
                    padding-top: 13.5rem;
                }

                .fourth-text {
                    color: $white;
                    width: 22rem;
                    height: 15rem;

                    font-family: 'Overpass', sans-serif;
                    font-size: 1.2rem;
                    line-height: 1.9rem;
                    text-align: center;
                    margin: auto;
                    margin-top: 2.2rem;
                }
        }

        .fifth {
            width: auto;
            height: 65rem;
            display: flex;
            flex-direction: column;
            align-items: center;

                .fifth-image {
                    width: 23rem;
                    height: 23rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    background-image: url(../../images/illustration-laptop-mobile.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .fifth-title {
                    width: 15rem;
                    height: 2rem;
                    margin: auto;
                    margin-top: 2rem;
                    margin-bottom: 1rem;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-blue;
                    text-align: center;
                    font-size: 1.7rem;
                    font-weight: 600;
                }

                .fifth-text {
                    width: 22rem;
                    height: 16rem;
                    margin: auto;
                    margin-top: 0;
                    margin-bottom: 1rem;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-grayish-blue;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    text-align: center;
                    font-weight: 400;
                }

                .fifth-second-text {
                    width: 22rem;
                    height: 10rem;
                    margin: auto;
                    margin-top: 0;

                    font-family: 'Overpass', sans-serif;
                    color: $very-dark-grayish-blue;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    text-align: center;
                    font-weight: 400;
                }
        }

        .principal-footer {
            width: 100vw;
            height: 50rem;
            background-color: $very-dark-black-blue;
            border-radius: 0 6rem 0 0rem;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

                img {
                    margin-top: 4rem;
                    margin-bottom: 2rem;
                }

                .footer-title {
                    color: $white;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    margin-bottom: 2rem;

                }

                        .footer-links {
                            width: 6rem;
                            height: 2rem;
                            text-align: center;
                            color: $white;
                            text-decoration: none;
                            font-family: 'Overpass', sans-serif;
                            font-weight: 300;
                        }
        }

 }